.sidebar-container {
  background: #333;
  height: 1650px;
  width: 150px;
  position: absolute;
}
.sidebar-container ul {
  justify-content: space-between;
  list-style: none;
  line-height: 70px;
}
